<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v2.0.50727" sku="Client" />
	</startup>
	<appSettings>
		<add key="db_file" value="demo.dbf" />
		<add key="login_caption" value="登录界面标题" />
		<add key="login_title" value="登录界面Title，必须修改" />
		<add key="logo_picture" value="logo.png" />
		<add key="main_title" value="主界面Title，在app.config中修改" />
   </appSettings>
</configuration>